<div class="container">
  <div class="show-card">
    <h1><%= @flat.name %>'s Flat</h1>
    <h6><%= @flat.address %></h6>
  </div>
  <div class="show-card">
    <h3>More about this flat</h3>
    <h4><%= @flat.description %></h4>
  </div>
  <div class="show-card">
    <h3>Details</h3>
    <p><%= @flat.number_of_guests %> persons | £<%= @flat.price_per_night %> per night</p>
  </div>
</div>
